# <center> Basic Python by William Chaudoin </center>

In [10]:
# Using Print Example
print("Hello World!")

Hello World!

In [11]:
# Checking the Python Version and Importing Example
import sys
print(sys.version)

3.11.2 (main, Mar 30 2023, 21:37:59) [Clang 17.0.0 (https://github.com/llvm/llvm-project df82394e7a2d06506718cafa347b

In [12]:
# System settings about integar type
sys.int_info

sys.int_info(bits_per_digit=30, sizeof_digit=4, default_max_str_digits=4300, str_digits_check_threshold=640)

In [13]:
# System settings about float type
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [14]:
# Integer Example
24

24

In [15]:
# Float Example
3.16

3.16

In [16]:
# String Example
"Hello World!"

'Hello World!'

In [17]:
# Checking Type of 24 Example
type(24)

int

In [18]:
# Checking Type of 3.16 Example
type(3.16)

float

In [19]:
# Checking Type of Hello World! Example
type("Hello World!")

str

In [20]:
# Checking Type of Negative Numbers Example
type(-24)

int

In [21]:
# Checking Type of Negative Numbers Example
type(-3.16)

float

In [22]:
# Converting an Integar to a Float Example
float(24)

24.0

In [23]:
# Converting an Integer 24 to a Float and Checking its Type Example
type(float(24))

float

In [24]:
# What Happens When a Float is Converted to an Integar Example
int(3.16)

3

In [25]:
# Converting a String into an Integer Example
int("24")

24

In [26]:
# Converting a String into an Float Example
float("3.16")

3.16

In [27]:
# Converting an Integer into an String Example
str(24)

'24'

In [28]:
# Converting an Float into an String Example
str(3.16)

'3.16'

In [29]:
# Boolean Type: False
False

False

In [1]:
# Type of False
type(False)

bool

In [31]:
# Converting an Boolean into an Integar Example
int(False)

0

In [32]:
# Converting 0 into a Boolean Example
bool(0)

False

In [33]:
# Converting False into a Float Example
float(False)

0.0

In [34]:
# Using Quotation Marks to Define a String
"William Chaudoin"

'William Chaudoin'

In [35]:
# Using Single Marks to Define a String
'William Chaudoin'

'William Chaudoin'

In [36]:
# Special Characters as a String Example
'!@#$%^&*()'

'!@#$%^&*()'

In [37]:
# Storing Values as a Variable Example
x = 24 + 25 + 26

In [38]:
# Displaying Value of Variable Example
x

75

In [39]:
# Using Variable in an Operation Example
y = x / 25
y

3.0

In [40]:
# Overwriting Established Varible with New Value
x = x / 25
x

3.0

In [41]:
# Alternative Variable Naming Example
Test_Variable = 24 + 25 + 26
Test_Variable

75

In [42]:
# Overwriting Established New Variable in an Operation Example
Test_Variable = Test_Variable / 25
Test_Variable

3.0

In [43]:
# Multi-Process Operation Example
Test_Variable = (24 + 25 + 26) / 25
Test_Variable

3.0

In [44]:
# Creating a Variable Using a String Example
Name = "William Chaudoin"
Name

'William Chaudoin'

In [45]:
# Using Len Example
len(Name)

16

In [46]:
# Using an Index to Print Characters Assigned to a Variable
print(Name[0])

W

In [47]:
# Using an Index to Print Characters Assigned to a Variable
print(Name[15])

n

In [48]:
# Using a Negative Index to Print Characters Assigned to a Variable
Name[-16]

'W'

In [49]:
# Using a Negative Index to Print Characters Assigned to a Variable
Name[-1]

'n'

In [50]:
# Slicing a Variable
Name[0:7]

'William'

In [51]:
# Using an Index to Gather Specific Characters Example
Name[::3]

'Wlmhdn'

In [52]:
# Using an Index to Gather Specific Characters Over a Range Example
Name[0:7:2]

'Wlim'

In [53]:
# Concatenate Strings Example
Sentence = Name + " is a Data Scientist"
Sentence

'William Chaudoin is a Data Scientist'

In [54]:
# Multipling Strings Example
4 * "William Chaudoin "

'William Chaudoin William Chaudoin William Chaudoin William Chaudoin '

In [55]:
# Multiplying Created Variables Example
4 * Name

'William ChaudoinWilliam ChaudoinWilliam ChaudoinWilliam Chaudoin'

In [56]:
# Coding a New Line within a String Example
print('William Chaudoin \n is a Data Scientist')

William Chaudoin
 is a Data Scientist

In [57]:
# Coding a Tab within a String Example
print('William Chaudoin \t is a Data Scientist')

William Chaudoin 	 is a Data Scientist

In [58]:
# Coding a a Slash within a String Example
print('William Chaudoin \\ is a Data Scientist')

William Chaudoin \ is a Data Scientist

In [59]:
# Coding Python to treat String as Raw Code Example
print(r'William Chaudoin is a Data Scientist')

William Chaudoin is a Data Scientist

In [60]:
# Converting Characters in a String to Upper Case Example
Upper = "William Chaudoin is a Data Scientist"
print("Before Action:", Upper)
Test_Upper = Upper.upper()
print("After Action:", Test_Upper)

Before Action: William Chaudoin is a Data Scientist
After Action: WILLIAM CHAUDOIN IS A DATA SCIENTIST

In [61]:
# Converting Characters in a String to Lower Case Example
Lower = "William Chaudoin is a Data Scientist"
print("Before Action:", Lower)
Test_Lower = Lower.lower()
print("After Action:", Test_Lower)

Before Action: William Chaudoin is a Data Scientist
After Action: william chaudoin is a data scientist

In [62]:
# Using Replace With a String Example
a = "William Chaudoin is a Data Scientist"
b = a.replace('William', 'Mark')
b

'Mark Chaudoin is a Data Scientist'

In [63]:
# Replacing punctuation Example
a = "Hello! William Chaudoin has: 16 characters."
print(a)
b = a.replace('!','').replace(':','').replace('.','')
print(b)

Hello! William Chaudoin has: 16 characters.
Hello William Chaudoin has 16 characters

In [64]:
# Using Find to Locate a Substring Example
Name.find('Will')

0

In [66]:
#Splitting a Substring into a List Example
Split = Name.split()
Split

['William', 'Chaudoin']

In [72]:
# Using the Search Function example
import re
pattern = r"Chaudoin"
result = re.search(pattern, Sentence)

if result:
    print("Found", result.group())
else:
    print("Not Found")

Found Chaudoin

In [70]:
# Using the Search Function to Find Digits Example
pattern = r"\d\d\d\d\d\d\d\d\d\d"
Number = "My Phone number is 2702996396"
Search = re.search(pattern, Number)

if Search:
    print("Found", Search.group())
else:
    print("Not Found")

Found