# <center> Jupyter Notebook examples by William Chaudoin </center>

# Markdown Cell

In [9]:
# Comment within a Code Cell Example

In [10]:
# Integar Example
2

2

In [11]:
# Addition Example
2+2

4

In [12]:
# Substraction Example
4-2

2

In [13]:
# Multiplication Example
2*2

4

In [14]:
# Division Example
4/2

2.0

In [17]:
# Division Example 2
4//2

2

In [15]:
# String Example
"Hello World!"

'Hello World!'

In [4]:
# Creating Variable F
F = 1
F

1

In [5]:
# Creating Variable G
G = 2
G

2

In [3]:
# Performing Mathematical with Defined Variables Example
H = F + G
H

3

In [6]:
# Equal Condition Example

d = 5
d == 6

False

In [7]:
# Greater than Sign Example

i = 6
i > 5

True

In [8]:
# Greater than Sign Example

i = 2
i > 5

False

In [9]:
# Inequality Sign Example

i = 2
i != 6

True

In [10]:
# Inequality Sign Example

i = 6
i != 6

False

In [11]:
# Using Equality Sign to Compare Strings Example

"William Chaudoin" == "Donald Duck"

False

In [13]:
# Using the Inequality Sign to Compare Strings Example

"William Chaudoin" != "Donald Duck"

True

In [14]:
# Comparing Characters Example

'B' > 'A'

True

In [15]:
# Comparing Characters Example

'BA' > 'AB'

True

# <center>Headings</center>
# Level 1 Heading
## Level 2 Heading
### Level 3 Heading
#### Level 4 Heading
##### Level 5 Heading
###### Level 6 Heading

# <center>Bold Text Examples</center>
**Bold Text using asterisks.**  
__Bold Text using underscores.__  
<b>Bold Text using code</b>

# <center>Italic Text Examples</center>
***Bold and Italic text using asterisks.***  
___Bold and Italic text using underscores.___  
<i>Italic Text using code</i>

# <center>Hyperlink Example</center>
[William Chaudoin on LinkedIn via hyperlink](https://www.linkedin.com/in/williamchaudoin/)

# <center>Images in Jupyter Example</center>
Headshot: ![Headshsot](https://avatars.githubusercontent.com/u/127374353?v=4)

## <center>Tables in Jupyter Example</center>
| Program/Language Name | Subject |
| -------------| ------ |
| R/RStudio | Machine Learning |
| SAS | Machine Learning |
| Python | Machine Learning |
| SQL | Analysis |
| Microsoft Excel | Analysis |
| Microsoft Power BI | Visualizations |
| Windows PowerShell | Inventory Management |
|

# <center>Lists Example</center>
- R/RStudio using dashes
- SAS using dashes
- Python using dashes
- SQL item using dashes

* R/RStudio using asterisks
* SAS using asterisks
* Python using asterisks
* SQL using asterisks

+ R/RStudio using plus
+ SAS using plus
+ Python using plus
+ SQL using plus

1. R/RStudio using numbers
2. SAS using numbers
3. Python using numbers
4. SQL using numbers

<details><summary>A Clickable Hidden Cell Example</summary>

```
 Hidden Code
    
```


</details>