# <center> Lists and Tuple Examples by William Chaudoin </center>

# <center> Lists </center>

In [146]:
# Creating a List Example
List = ["William Chaudoin", 3.16, 24]
List

['William Chaudoin', 3.16, 24]

In [147]:
# Using an Index with a List Example
print('Element using Negative and Positive Indexing:\n Postive:',List[0],
'\n Negative:' , List[-3]  )
print('Element using Negative and Positive Indexing:\n Postive:',List[1],
'\n Negative:' , List[-2]  )
print('Element using Negative and Positive Indexing:\n Postive:',List[2],
'\n Negative:' , List[-1]  )

Element using Negative and Positive Indexing:
 Postive: William Chaudoin
 Negative: William Chaudoin
Element using Negative and Positive Indexing:
 Postive: 3.16
 Negative: 3.16
Element using Negative and Positive Indexing:
 Postive: 24
 Negative: 24

In [148]:
# List Involving Sub-List and Tuple Example
L = ["William Chaudoin", 3.16, 24, [1, 2], ("A", "B")]

In [149]:
# List Slicing Example
L[3:5]

[[1, 2], ('A', 'B')]

In [150]:
# Adding Elements to a List Example
L.extend(['data', 69])
L

['William Chaudoin', 3.16, 24, [1, 2], ('A', 'B'), 'data', 69]

In [151]:
# Adding Elements to a List Example 2
L.append(['science', 42])
L

['William Chaudoin', 3.16, 24, [1, 2], ('A', 'B'), 'data', 69, ['science', 42]]

In [152]:
# Using Len to Check List Length Example
len(L)

8

In [153]:
# Using an Index to Replace a Value Example
print('Before:', L)
L[5] = 'Data'
print('After:', L)

Before: ['William Chaudoin', 3.16, 24, [1, 2], ('A', 'B'), 'data', 69, ['science', 42]]
After: ['William Chaudoin', 3.16, 24, [1, 2], ('A', 'B'), 'Data', 69, ['science', 42]]

In [154]:
# Using an Index to Delete an Element Example
print('Before:', L)
del(L[4])
print('After:', L)

Before: ['William Chaudoin', 3.16, 24, [1, 2], ('A', 'B'), 'Data', 69, ['science', 42]]
After: ['William Chaudoin', 3.16, 24, [1, 2], 'Data', 69, ['science', 42]]

In [155]:
# Spliting a String into a List Example
'William Chaudoin'.split()

['William', 'Chaudoin']

In [156]:
# Splitting a String by Special Character Example
'E@X@A@M@P@L@E'.split('@')

['E', 'X', 'A', 'M', 'P', 'L', 'E']

In [157]:
# Copying a List to a New Variable Example
A = L
print('L:', L)
print('A:', A)

L: ['William Chaudoin', 3.16, 24, [1, 2], 'Data', 69, ['science', 42]]
A: ['William Chaudoin', 3.16, 24, [1, 2], 'Data', 69, ['science', 42]]

In [158]:
# Changing the Original List and Examining the Result to the New Variable
print('L[1]:', L[1])
L[1] = 4.20
print('A[1]:', A[1])

L[1]: 3.16
A[1]: 4.2

In [159]:
# Alternative Attaching List to New Variable
B = L[:]
B

['William Chaudoin', 4.2, 24, [1, 2], 'Data', 69, ['science', 42]]

In [160]:
# Adding Lists
X = [1, 2, 3]
Y = L + X
Y

['William Chaudoin', 4.2, 24, [1, 2], 'Data', 69, ['science', 42], 1, 2, 3]

# <center> Tuples </center>

In [161]:
# Creating a Tuple Example
tuple1 = ("William Chaudoin", 3.16, 24)
tuple1

('William Chaudoin', 3.16, 24)

In [162]:
# Checking Type of Variable Example
type(tuple1)

tuple

In [163]:
# Using an Index with a Tuple Example
print('Element using Negative and Positive Indexing:\n Postive:',tuple1[0],
'\n Negative:' , tuple1[-3]  )
print('Element using Negative and Positive Indexing:\n Postive:',tuple1[1],
'\n Negative:' , tuple1[-2]  )
print('Element using Negative and Positive Indexing:\n Postive:',tuple1[2],
'\n Negative:' , tuple1[-1]  )

Element using Negative and Positive Indexing:
 Postive: William Chaudoin
 Negative: William Chaudoin
Element using Negative and Positive Indexing:
 Postive: 3.16
 Negative: 3.16
Element using Negative and Positive Indexing:
 Postive: 24
 Negative: 24

In [164]:
# Adding Elements to a Tuple through Adding Tuples Example
tuple2 = tuple1 + ('data', 69)
tuple2

('William Chaudoin', 3.16, 24, 'data', 69)

In [165]:
# Tuple Slicing Example
tuple2[0:3]

('William Chaudoin', 3.16, 24)

In [166]:
# Using Len to Check Tuple Length Example
len(tuple2)

5

In [167]:
# A New Variable
Testing_Sort = (7,3,4,5,6,7)
Testing_Sort

(7, 3, 4, 5, 6, 7)

In [168]:
# Using Sorted on a Tuple Example
Testing_Sorted = sorted(Testing_Sort)
Testing_Sorted

[3, 4, 5, 6, 7, 7]

In [169]:
# Creating a Nested Tuple Example
Nested =(1, 2, ("data", "science") ,(3,4),("data science",(1,2)))
Nested

(1, 2, ('data', 'science'), (3, 4), ('data science', (1, 2)))

In [170]:
# Print Elements of the Tuple Example
print("Element 0 of Tuple: ", Nested[0])
print("Element 1 of Tuple: ", Nested[1])
print("Element 2 of Tuple: ", Nested[2])
print("Element 3 of Tuple: ", Nested[3])
print("Element 4 of Tuple: ", Nested[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('data', 'science')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('data science', (1, 2))

In [171]:
# Print Each Individual Element of the Tuple Example
print("Element 0 of Tuple: ", Nested[0])
print("Element 1 of Tuple: ", Nested[1])
print("Element 2, 0 of Tuple: ",   Nested[2][0])
print("Element 2, 1 of Tuple: ",   Nested[2][1])
print("Element 3, 0 of Tuple: ",   Nested[3][0])
print("Element 3, 1 of Tuple: ",   Nested[3][1])
print("Element 4, 0 of Tuple: ",   Nested[4][0])
print("Element 4, 1 of Tuple: ",   Nested[4][1])
print("Element 4, 1, 0 of Tuple: ",   Nested[4][1][0])
print("Element 4, 1, 1 of Tuple: ",   Nested[4][1][1])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2, 0 of Tuple:  data
Element 2, 1 of Tuple:  science
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  data science
Element 4, 1 of Tuple:  (1, 2)
Element 4, 1, 0 of Tuple:  1
Element 4, 1, 1 of Tuple:  2

In [172]:
# Finding Location of Element within Tuple Using Index Function Example
Nested.index(2)

1