# <center> **Cleaning Raw Data For Biomedical Data Study**</center>

In [1]:
## Loading Librarbies and Checking For Availability
try:
    import pandas as pd
    print("Library is available.")
    from sklearn.preprocessing import LabelEncoder
    print("Library is available.")
    
except ImportError:
    print("Library is not available.")

# Changing Potential Options
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Library is available.
Library is available.

In [2]:
## Loading Dataset File To Clean
health = pd.read_excel('Health Data.xlsx')
 
health.head(10)

,Date,Weight (Pounds),Waist (Inches),Neck (Inches),Morning Body Temp,Morning Systolic Pressure,Morning Diastolic Pressure,Morning Pulse,Night Body Temp,Night Systolic Pressure,Night Diastolic Pressure,Night Pulse,Sleep,BMI,CBF,Gym,Cardio,Calories,Carbs,Fat,Protein,Fiber,Sugar,Servings,Daily Water Intake (liters),Fat Calories
0,2024-01-26,275.6,47.5,17.0,95.7,113,73,74,97.4,128,79,73,11.5,39.540163,35.192117,Yes,Yes,1465.000000,189.500000,50.500000,73.000000,19.000000,67.500000,17.00,0.50,454.5000
1,2024-01-27,271.8,47.0,17.0,96.2,114,75,67,97.8,108,75,82,5.5,38.994980,34.574687,Yes,No,2521.000000,499.950000,85.000000,71.500000,34.500000,325.450000,72.50,0.75,765.0000
2,2024-01-28,271.8,47.0,17.0,96.7,136,76,71,96.1,112,63,70,8.0,38.994980,34.574687,No,No,1385.191667,172.412083,39.075833,74.289583,41.209583,66.442083,16.35,0.50,351.6825
3,2024-01-29,272.8,47.0,17.0,97.5,131,85,76,97.1,158,88,86,8.0,39.138449,34.574687,Yes,No,570.000000,108.000000,12.000000,4.000000,8.000000,46.000000,6.00,0.50,108.0000
4,2024-01-30,269.6,46.5,17.0,97.7,123,79,84,98.6,120,71,81,10.0,38.679347,33.946880,Yes,Yes,1946.333333,259.040000,60.098333,104.326667,47.730000,67.668333,19.30,2.00,540.8850
5,2024-01-31,268.6,47.0,17.0,96.1,132,75,62,96.5,156,83,73,9.0,38.535878,34.574687,Yes,No,1265.233333,195.203333,34.861667,69.580000,42.556667,96.871667,20.90,1.50,313.7550
6,2024-02-01,268.8,46.5,17.0,96.4,132,70,71,97.3,113,75,89,10.0,38.564571,33.946880,Yes,Yes,2167.333333,309.473333,70.801667,67.880000,19.906667,213.351667,17.50,1.00,637.2150
7,2024-02-02,268.8,46.5,17.0,96.4,132,70,71,97.3,113,75,89,0.0,38.564571,33.946880,No,No,4080.000000,349.000000,229.000000,163.000000,15.000000,91.000000,12.00,0.00,2061.0000
8,2024-02-03,269.4,47.0,17.0,97.7,120,77,76,96.5,124,75,66,16.5,38.650653,34.574687,Yes,No,2535.933333,235.183333,120.441667,99.950000,25.366667,30.091667,35.00,2.00,1083.9750
9,2024-02-04,272.6,47.0,17.0,96.7,119,75,71,96.4,116,74,68,10.0,39.109755,34.574687,Yes,No,1635.933333,139.183333,82.441667,78.450000,21.866667,20.591667,21.50,2.00,741.9750

In [3]:
## Analyzing Structure of Data
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         226 non-null    datetime64[ns]
 1   Weight (Pounds)              226 non-null    float64
 2   Waist (Inches)               226 non-null    float64
 3   Neck (Inches)                226 non-null    float64
 4   Morning Body Temp            226 non-null    float64
 5   Morning Systolic Pressure    226 non-null    int64
 6   Morning Diastolic Pressure   226 non-null    int64
 7   Morning Pulse                226 non-null    int64
 8   Night Body Temp              226 non-null    float64
 9   Night Systolic Pressure      226 non-null    int64
 10  Night Diastolic Pressure     226 non-null    int64
 11  Night Pulse                  226 non-null    int64
 12  Sleep                        226 non-null    float64
 13  BMI                          226 non-null    float64
 14  CBF                          226 non-null    float64
 15  Gym                          226 non-null    object
 16  Cardio                       226 non-null    object
 17  Calories                     219 non-null    float64
 18  Carbs                        219 non-null    float64
 19  Fat                          219 non-null    float64
 20  Protein                      219 non-null    float64
 21  Fiber                        219 non-null    float64
 22  Sugar                        219 non-null    float64
 23  Servings                     219 non-null    float64
 24  Daily Water Intake (liters)  219 non-null    float64
 25  Fat Calories                 219 non-null    float64
dtypes: datetime64[ns](1), float64(17), int64(6), object(2)
memory usage: 46.0+ KB

In [4]:
## Changing Names For Simplier Use
health.rename(columns = {'Date': 'Date', 'Weight (Pounds)': 'Weight', 'Waist (Inches)': 'Waist', 'Neck (Inches)': 'Neck', 
                         'Morning Body Temp': 'Morning Body Temp', 'Morning Systolic Pressure': 'Morning Systolic Pressure', 
                         'Morning Diastolic Pressure': 'Morning Diastolic Pressure', 'Morning Pulse': 'Morning Pulse', 'Night Body Temp': 'Night Body Temp', 
                         'Night Systolic Pressure': 'Night Systolic Pressure', 'Night Diastolic Pressure': 'Night Diastolic Pressure', 
                         'Night Pulse': 'Night Pulse', 'Sleep': 'Sleep', 'BMI': 'BMI', 'CBF': 'CBF', 'Gym': 'Gym', 'Cardio': 'Cardio', 
                         'Calories': 'Calories', 'Carbs': 'Carbs', 'Fat': 'Fat', 'Protein': 'Protein', 'Fiber': 'Fiber', 'Sugar': 'Sugar', 
                         'Servings': 'Servings', 'Daily Water Intake (liters)': 'Water', 'Fat Calories': 'Fat Calories'}, inplace=True)

In [5]:
## Confirming Name Changes
for i in health:
    print(i)

Date
Weight
Waist
Neck
Morning Body Temp
Morning Systolic Pressure
Morning Diastolic Pressure
Morning Pulse
Night Body Temp
Night Systolic Pressure
Night Diastolic Pressure
Night Pulse
Sleep
BMI
CBF
Gym
Cardio
Calories
Carbs
Fat
Protein
Fiber
Sugar
Servings
Water
Fat Calories

In [6]:
## Changing Variables To Binary
le = LabelEncoder()
health['Gym'] = le.fit_transform(health['Gym'])
health['Cardio'] = le.fit_transform(health['Cardio'])
print(health[['Gym', 'Cardio']])

     Gym  Cardio
0      1       1
1      1       0
2      0       0
3      1       0
4      1       1
..   ...     ...
221    0       1
222    1       0
223    1       1
224    1       1
225    1       1

[226 rows x 2 columns]

In [7]:
## Changing Data Types and Rounding to 2 Decimal Places
columns = health[health.columns[1:26]]
for i in columns:
    health[i] = health[i].astype(float)
    health[i] = health[i].round(2)
    print(health[i].head(10))

0    275.6
1    271.8
2    271.8
3    272.8
4    269.6
5    268.6
6    268.8
7    268.8
8    269.4
9    272.6
Name: Weight, dtype: float64
0    47.5
1    47.0
2    47.0
3    47.0
4    46.5
5    47.0
6    46.5
7    46.5
8    47.0
9    47.0
Name: Waist, dtype: float64
0    17.0
1    17.0
2    17.0
3    17.0
4    17.0
5    17.0
6    17.0
7    17.0
8    17.0
9    17.0
Name: Neck, dtype: float64
0    95.7
1    96.2
2    96.7
3    97.5
4    97.7
5    96.1
6    96.4
7    96.4
8    97.7
9    96.7
Name: Morning Body Temp, dtype: float64
0    113.0
1    114.0
2    136.0
3    131.0
4    123.0
5    132.0
6    132.0
7    132.0
8    120.0
9    119.0
Name: Morning Systolic Pressure, dtype: float64
0    73.0
1    75.0
2    76.0
3    85.0
4    79.0
5    75.0
6    70.0
7    70.0
8    77.0
9    75.0
Name: Morning Diastolic Pressure, dtype: float64
0    74.0
1    67.0
2    71.0
3    76.0
4    84.0
5    62.0
6    71.0
7    71.0
8    76.0
9    71.0
Name: Morning Pulse, dtype: float64
0    97.4
1    97.8
2    96.1
3    97.1
4    98.6
5    96.5
6    97.3
7    97.3
8    96.5
9    96.4
Name: Night Body Temp, dtype: float64
0    128.0
1    108.0
2    112.0
3    158.0
4    120.0
5    156.0
6    113.0
7    113.0
8    124.0
9    116.0
Name: Night Systolic Pressure, dtype: float64
0    79.0
1    75.0
2    63.0
3    88.0
4    71.0
5    83.0
6    75.0
7    75.0
8    75.0
9    74.0
Name: Night Diastolic Pressure, dtype: float64
0    73.0
1    82.0
2    70.0
3    86.0
4    81.0
5    73.0
6    89.0
7    89.0
8    66.0
9    68.0
Name: Night Pulse, dtype: float64
0    11.5
1     5.5
2     8.0
3     8.0
4    10.0
5     9.0
6    10.0
7     0.0
8    16.5
9    10.0
Name: Sleep, dtype: float64
0    39.54
1    38.99
2    38.99
3    39.14
4    38.68
5    38.54
6    38.56
7    38.56
8    38.65
9    39.11
Name: BMI, dtype: float64
0    35.19
1    34.57
2    34.57
3    34.57
4    33.95
5    34.57
6    33.95
7    33.95
8    34.57
9    34.57
Name: CBF, dtype: float64
0    1.0
1    1.0
2    0.0
3    1.0
4    1.0
5    1.0
6    1.0
7    0.0
8    1.0
9    1.0
Name: Gym, dtype: float64
0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
5    0.0
6    1.0
7    0.0
8    0.0
9    0.0
Name: Cardio, dtype: float64
0    1465.00
1    2521.00
2    1385.19
3     570.00
4    1946.33
5    1265.23
6    2167.33
7    4080.00
8    2535.93
9    1635.93
Name: Calories, dtype: float64
0    189.50
1    499.95
2    172.41
3    108.00
4    259.04
5    195.20
6    309.47
7    349.00
8    235.18
9    139.18
Name: Carbs, dtype: float64
0     50.50
1     85.00
2     39.08
3     12.00
4     60.10
5     34.86
6     70.80
7    229.00
8    120.44
9     82.44
Name: Fat , dtype: float64
0     73.00
1     71.50
2     74.29
3      4.00
4    104.33
5     69.58
6     67.88
7    163.00
8     99.95
9     78.45
Name: Protein, dtype: float64
0    19.00
1    34.50
2    41.21
3     8.00
4    47.73
5    42.56
6    19.91
7    15.00
8    25.37
9    21.87
Name: Fiber, dtype: float64
0     67.50
1    325.45
2     66.44
3     46.00
4     67.67
5     96.87
6    213.35
7     91.00
8     30.09
9     20.59
Name: Sugar, dtype: float64
0    17.00
1    72.50
2    16.35
3     6.00
4    19.30
5    20.90
6    17.50
7    12.00
8    35.00
9    21.50
Name: Servings, dtype: float64
0    0.50
1    0.75
2    0.50
3    0.50
4    2.00
5    1.50
6    1.00
7    0.00
8    2.00
9    2.00
Name: Water, dtype: float64
0     454.50
1     765.00
2     351.68
3     108.00
4     540.88
5     313.76
6     637.21
7    2061.00
8    1083.97
9     741.97
Name: Fat Calories, dtype: float64

In [8]:
## Confirming Type Change
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        226 non-null    datetime64[ns]
 1   Weight                      226 non-null    float64
 2   Waist                       226 non-null    float64
 3   Neck                        226 non-null    float64
 4   Morning Body Temp           226 non-null    float64
 5   Morning Systolic Pressure   226 non-null    float64
 6   Morning Diastolic Pressure  226 non-null    float64
 7   Morning Pulse               226 non-null    float64
 8   Night Body Temp             226 non-null    float64
 9   Night Systolic Pressure     226 non-null    float64
 10  Night Diastolic Pressure    226 non-null    float64
 11  Night Pulse                 226 non-null    float64
 12  Sleep                       226 non-null    float64
 13  BMI                         226 non-null    float64
 14  CBF                         226 non-null    float64
 15  Gym                         226 non-null    float64
 16  Cardio                      226 non-null    float64
 17  Calories                    219 non-null    float64
 18  Carbs                       219 non-null    float64
 19  Fat                         219 non-null    float64
 20  Protein                     219 non-null    float64
 21  Fiber                       219 non-null    float64
 22  Sugar                       219 non-null    float64
 23  Servings                    219 non-null    float64
 24  Water                       219 non-null    float64
 25  Fat Calories                219 non-null    float64
dtypes: datetime64[ns](1), float64(25)
memory usage: 46.0 KB

In [9]:
## Check for Missing Values or Null Values
print(health.isnull().sum())

## Counting Total Missing Values
print("\nTotal Missing:", health.isnull().sum().sum())

Date                          0
Weight                        0
Waist                         0
Neck                          0
Morning Body Temp             0
Morning Systolic Pressure     0
Morning Diastolic Pressure    0
Morning Pulse                 0
Night Body Temp               0
Night Systolic Pressure       0
Night Diastolic Pressure      0
Night Pulse                   0
Sleep                         0
BMI                           0
CBF                           0
Gym                           0
Cardio                        0
Calories                      7
Carbs                         7
Fat                           7
Protein                       7
Fiber                         7
Sugar                         7
Servings                      7
Water                         7
Fat Calories                  7
dtype: int64

Total Missing: 63

In [10]:
## Confirming Missing Values
health[health.columns[17:26]].iloc[211:218]

,Calories,Carbs,Fat,Protein,Fiber,Sugar,Servings,Water,Fat Calories
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
## Documenting Mean Values
meanbefore = health[health.columns[17:26]].mean()
print(meanbefore)

Calories        2914.355708
Carbs            397.844977
Fat              105.429132
Protein          101.344201
Fiber             27.785434
Sugar            239.288995
Servings          56.434795
Water              1.102511
Fat Calories     942.016804
dtype: float64

In [12]:
## Replacing Null Values With Mean
columns = health.columns[17:26]
for column in columns:
    health[column] = health[column].fillna(health[column].mean())

In [13]:
## Confirming Mean Replacement
health[health.columns[17:26]].iloc[211:218]

,Calories,Carbs,Fat,Protein,Fiber,Sugar,Servings,Water,Fat Calories
211,2914.355708,397.844977,105.429132,101.344201,27.785434,239.288995,56.434795,1.102511,942.016804
212,2914.355708,397.844977,105.429132,101.344201,27.785434,239.288995,56.434795,1.102511,942.016804
213,2914.355708,397.844977,105.429132,101.344201,27.785434,239.288995,56.434795,1.102511,942.016804
214,2914.355708,397.844977,105.429132,101.344201,27.785434,239.288995,56.434795,1.102511,942.016804
215,2914.355708,397.844977,105.429132,101.344201,27.785434,239.288995,56.434795,1.102511,942.016804
216,2914.355708,397.844977,105.429132,101.344201,27.785434,239.288995,56.434795,1.102511,942.016804
217,2914.355708,397.844977,105.429132,101.344201,27.785434,239.288995,56.434795,1.102511,942.016804

In [14]:
## Comparing Current to Previous Means
meanafter = health[health.columns[17:26]].mean()
print("Mean Before:", "\n", meanbefore)
print("Mean After:", "\n", meanafter)

Mean Before:
 Calories        2914.355708
Carbs            397.844977
Fat              105.429132
Protein          101.344201
Fiber             27.785434
Sugar            239.288995
Servings          56.434795
Water              1.102511
Fat Calories     942.016804
dtype: float64
Mean After:
 Calories        2914.355708
Carbs            397.844977
Fat              105.429132
Protein          101.344201
Fiber             27.785434
Sugar            239.288995
Servings          56.434795
Water              1.102511
Fat Calories     942.016804
dtype: float64

In [15]:
## Save the DataFrame to an Excel file
health.to_excel('health_cleaned_python.xlsx', index=False)